.App {
  text-align: center;
  display: flex;
  background-color:goldenrod;
}


.legends{
  width: 90%;
  margin-right: 5px;
  margin-left: 20px;
  border-right: 1px solid lightblue;
}
.Summary-cart{
  text-align: left;
  display: block;
  border: 1px solid sandybrown;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color:navajowhite;
}




